@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-darkblue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 1.5rem;
    min-height: 100vh;
    background-color: var(--color-light-gray);
    color: var(--color-grayish-blue);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    color: var(--color-darkblue);
    font-weight: 600;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

.feature-section {
    max-width: 48rem;
    padding: 3rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-section__title {
    font-weight: 200;
}

.feature-section__title-bold {
    margin-bottom: 1.8rem;
}

.feature-section__title-container {
    max-width: 50rem;
    margin-bottom: 5rem;
}

.feature-section__cards {
    list-style: none;
    display: grid;
    gap: 3rem;
}

.card {
    min-height: 26rem;
    text-align: left;
    padding: 2.4rem;
    border-radius: 5px;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}

.card--cyan {
    border-top: 5px solid var(--color-cyan);
}
.card--red {
    border-top: 5px solid var(--color-red);
}
.card--orange {
    border-top: 5px solid var(--color-orange);
}
.card--blue {
    border-top: 5px solid var(--color-blue);
}

.card__icon-container {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (min-width: 480px) {
    h2 {
        font-size: 2.6em;
    }

    .feature-section {
        max-width: 120rem;
    }

    .feature-section__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .card {
        max-width: 36rem;
    }
}

@media screen and (min-width: 1024px) {
    .feature-section__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card--cyan,
    .card--blue {
        grid-row: span 2;
    }

    .card--red {
        grid-column: 2;
    }

    .card--orange {
        grid-column: 2;
        grid-row: 2;
    }
}
